<div class="container content">
  <form class="form-signup text-center" [formGroup]="form" novalidate>
    <fieldset class="p-5">
      <div class="form-group">
        <label for="login" class="l-connect">Login</label>
        <input type="text" formControlName="login" (click)="clearMessage()" class="form-control input-connect" id="login">
      </div>
      <div class="form-row">
        <div class="col">
          <label for="prenom" class="l-connect">Prénom</label>
          <input type="text" formControlName="prenom" class="form-control input-connect" id="prenom">
        </div>
        <div class="col">
          <label for="nom" class="l-connect">Nom</label>
          <input type="text" class="form-control input-connect" id="nom" formControlName="nom">
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <label for="pwd" class="l-connect">Mot de Passe</label>
          <input type="password" formControlName="password" class="form-control input-connect" id="pwd">
        </div>
        <div class="col">
          <label for="pwdVerif" class="l-connect">Confirmation</label>

          <input type="password" class="form-control input-connect" id="pwdVerif" (keyup)="onKey($event)">
        </div>

      </div>

      <div class="form-group">
        <label for="email" class="l-connect">email</label>
        <input type="email" (click)="clearMessage()" class="form-control input-connect" id="email" formControlName="email">
      </div>
      <div *ngIf="this.form.get('login').value === this.form.get('password').value" class="alert alert-danger">
        Login et Mot de passe doivent être différents!
      </div>
      <div *ngIf="this.form.get('password').value !== this.valuesConf" class="alert alert-danger">Les mots de passe ne correspondent pas</div>
      <div *ngIf="!errorSignUp.submitted" class="alert alert-danger">Erreur : {{errorSignUp.message}}</div>

      <button type="submit" class="btn btn-warning" [disabled]="this.form.get('login').invalid || this.form.get('prenom').invalid || this.form.get('nom').invalid
      || this.form.get('password').invalid || this.form.get('email').invalid || this.form.get('login').value === this.form.get('password').value
      || this.form.get('password').value !== this.valuesConf " (click)="onSubmit()">Inscription</button>
    </fieldset>
  </form>

</div>