.form-addSerie{
    
    border-radius: 5px;
    color: #343a40!important;
}

.formAdd{
    background-color:#343a40;
}

.l-connect{
    font-size: 20px;
}

.input-connect{
    background-color: #343a40;
    color: #ffc107;
}
.field{
    border: 2px solid #343a40;
    border-radius: 5px;
}