<div class=" container content text-center bg-light">
    <form class="form-addSerie" (submit)="createSerie()" [formGroup]="form" novalidate>
        <div class="text-center">
            <h3 class="text-dark">
                Nouvelle Serie
            </h3>
        </div>

        <fieldset class="p-5 m-4 field">

            <h3>Informations Générales</h3>

            <div class="form-group">
                <label for="titre" class="l-connect">Titre *</label>
                <input type="text" formControlName="titre" class="form-control input-connect" id="titre" placeholder="Titre">
            </div>
            <div class="form-group">

                <label for="imageSerie" class="l-connect">Affiche *</label>
                <input type="text" formControlName="imageSerie" class="form-control input-connect" id="imageSerie" placeholder="Taille: 600x600 (Recommandé MAX) -- URL demandé">

            </div>
            <div class="form-row">
                <div class="col">
                    <label for="description" class="l-connect">Description *</label>
                    <textarea class="form-control input-connect" rows="8" formControlName="description" placeholder="Décrivez la série"></textarea>
                </div>
                <div class="col">
                    <label for="dateSortie" class="l-connect">Date de sortie *</label>
                    <input type="date" class="form-control input-connect" formControlName="dateSortie" placeholder="aaaa-mm-jj">
                </div>
            </div>


            <div class="form-row">
                <div class="col">
                    <label for="nbSaisons" class="l-connect">Nombre de Saisons *</label>
                    <input type="number" min="1" formControlName="nbSaisons" class="form-control input-connect" placeholder="1">
                </div>
                <div class="col">
                    <label for="nbEpisodes" class="l-connect">Nombre d'Episodes *</label>
                    <input type="number" min="1" class="form-control input-connect" formControlName="nbEpisodes" placeholder="10">
                </div>
            </div>

        </fieldset>
        <fieldset class="m-4 p-5 field">
            <h3>Réalisation</h3>
            <div class="form-row">
                <div class="col">
                    <label for="prenomRealisateur" class="l-connect">Prénom *</label>
                    <input type="text" formControlName="prenomRealisateur" class="form-control input-connect" id="prenomRealisateur" placeholder="Prénom">
                </div>
                <div class="col">
                    <label for="nomRealisateur" class="l-connect">Nom *</label>
                    <input type="text" class="form-control input-connect" id="nomRealisateur" formControlName="nomRealisateur" placeholder="Nom">
                </div>
            </div>
        </fieldset>
        <div *ngIf="!errorSerie.submitted" class="alert alert-danger">Erreur : {{errorSerie.message}}</div>

        <div>
            <button type="submit" class="btn btn-md btn-success text-white">Ajouter</button>
        </div>
    </form>
</div>