.form-addSerie{
    background-color: #343a40;
    border-radius: 5px;
    color: #ffc107!important;
}

.formAdd{
    background-color:#ffc107; 
}

.l-connect{
    font-size: 20px;
}

.input-connect{
    background-color: #ffbb33;
    color: #343a40;
}
.field{
    border: 2px solid #ffc107;
    border-radius: 5px;
}