
<div class="container-fluid mt-4">

  <div class="text-center">

  <form class="form-signin">
    <fieldset class="bg-warning p-5">
      <img src="../../assets/images/fav.png" height="75px" width="75px">
      <h2 class="mb-3 h-connect">Connexion</h2>
      <div class="form-group mt-3">
  <label for="inputLogin" class="l-connect">Login</label>
  <input type="text" id="inputLogin" class="form-control input-connect" placeholder="login" required autofocus>
      </div>
      <div class="form-group mt-3">
  <label for="inputPassword" class="l-connect">Password</label>
  <input type="password" id="inputPassword" class="form-control input-connect" placeholder="Password" required>
      </div>
  <button class="btn btn-lg btn-dark btn-block" type="submit">Se connecter</button>
    </fieldset>
</form>
  </div>

</div>
