<div class="container-fluid content">

  <div class="text-center">

    <form name="form" (ngSubmit)="f.form.valid && signIn()" #f="ngForm" novalidate class="form-signin">
      <fieldset class="bg-warning p-5">
        <img src="../../assets/images/fav.png" height="75px" width="75px">
        <div class="form-group mt-3">
          <label for="login" class="l-connect">Login</label>
          <input type="text" id="login" class="form-control input-connect" name="login" [(ngModel)]="model.login" #login="ngModel"
            required autofocus />
          <div *ngIf="f.submitted && !username.valid" class="help-block">Login is required</div>
        </div>
        <div class="form-group mt-3">
          <label for="password" class="l-connect">Password</label>
        
          <input type="password" class="form-control input-connect" name="password" [(ngModel)]="model.password" #password="ngModel" required />
          <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        
        </div>
        <button class="btn btn-lg btn-dark btn-block" type="submit"  [disabled]="!login.valid || !password.valid">SignIn</button>
      </fieldset>
    </form>
  </div>





</div>