<div class="container content">
    
  <div class="card bg-dark">
      <div class="text-center text-white hRewiev">
          <h4> Episodes </h4>
      </div>
    <ul class="text-white">
      <li *ngFor="let episode of episodes">
        <p class="text-warning"> {{episode.numeroEpisode}}: {{episode.nomEpisode}} (Saison: {{episode.saison}})</p>
        <label class="switch" for="checkbox{{episode.idEpisode}}">
          <input type="checkbox" (click)="changeVision($event,episode.idEpisode)" id="checkbox{{episode.idEpisode}}"/>
          <div class="slider round"></div>
        </label>
      </li>
      
    </ul>
  </div>
  </div>
