<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="navbar-brand">
      <img src="../assets/images/fav.png" class="logoBrand" alt="Logo">
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link " routerLink="/accueil" routerLinkActive="active">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/catalogue" routerLinkActive="active">Catalogue</a>
        </li>

        <!-- Il faut être connecté pour voir ça -->
        <li class="nav-item">
          <a class="nav-link " *ngIf="authService.loggedIn()" routerLink="/playlist" routerLinkActive="active">Playlist</a>
        </li>

        <li class="nav-item">
          <a class="nav-link " *ngIf="authService.loggedIn()" routerLink="/compte" routerLinkActive="active">MonCompte</a>
        </li>


        <li class="nav-item">
          <a class="nav-link " *ngIf="!authService.loggedIn()" routerLink="/connexion" routerLinkActive="active">Connexion</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" *ngIf="!authService.loggedIn()" routerLink="/inscription" routerLinkActive="active">Inscription</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning" *ngIf="authService.loggedIn()" (click)="authService.logout()" routerLinkActive="active">Déconnexion</a>
        </li>
      </ul>
    </div>
  </nav>
</header>