<div class="container content">
  <div class="card cardSerie bg-light" *ngIf="serie !== undefined">
    <img class="card-img-top imageSerie img-responsive" src="{{serie.imageSerie}}" alt={{serie.titre}}>
    <div class="card-body">
      <div class="text-center">
        <h4 class="text-dark">
          <span class="bold">{{serie.titre}}</span>
          <span *ngIf="isSeen && authService.loggedIn()" class="badge bg-warning">Vu</span>
        </h4>
      </div>
     
      <hr>
      <p>Créé par: {{serie.prenomRealisateur}}
        <span class="bold">{{serie.nomRealisateur}}</span>
      </p>
      <hr>
      <p>
        <span class="bold">Description:</span> {{serie.description}}</p>
      <hr>
      <p>
        <span class="bold">Nombre de saisons:</span> {{serie.nbSaisons}}</p>
      <hr>
      <p>
        <span class="bold">Nombre d'épisodes:</span> {{serie.nbEpisodes}}</p>
      <hr>
      <p>
        <span class="bold">Date de sortie:</span> {{serie.dateSortie | date:'yyyy-MM-dd'}}</p>
      <div class="row">
        <div>
          <a *ngIf="authService.loggedIn() &&!isSeen" class="btn btn-md btn-success text-white" (click)="addInPlaylist()"> Ajouter à la Playlist</a>


        </div>
        <div>
          <a *ngIf="authService.loggedIn() && isSeen" class="btn btn-md btn-danger text-white" (click)="removeInPlaylist()">Supprimer de la Playlist</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <app-critique>
            <!--Liste des commentaires-->
          </app-critique>
        </div>

        <div class="col-md-6" *ngIf="isSeen">
          <app-episode-list>
            <!--Liste des épisodes de la séries-->
            <!--Visible uniquement si on visionne la série-->
          </app-episode-list>
        </div>
      </div>
      <div class="text-center buttonRetour">
        <a class="btn btn-md btn-secondary text-warning" routerLink="/catalogue" routerLinkActive="active">Retour au Catalogue</a>
      </div>
    </div>
  </div>

</div>