<div class="container content">
    <div class="">

        <div class="text-center">
             <h3><i class="fas fa-columns"></i>  Dashboard</h3>
        </div>

        <div class="userList">
            <div class=" text-center">
                <h4>Liste des utilisateurs</h4>
            </div>


            <app-user></app-user>

        </div>
        <div class=" text-center mt-5">
            <h4>Liste des séries</h4>
        </div>


        <div class="seriesList">

            <app-series></app-series>
        </div>
        

    </div>
</div>