<section class="mt-5">
  <div class="container">
    <aside class="float-right stats  col-lg-6">
      <div class="text-center p-3">
        <h4>
          Statistiques
        </h4>
      </div>
      <div>
        <p class="float-right col-lg-2">23</p>
        <p class="col-lg-4"> Mes séries</p>
      </div>
      <hr>
      <div>
        <p class="float-right col-lg-2">435</p>
        <p class="col-lg-4"> Mes épisodes</p>
      </div>
      <hr>
      <div>
        <p class="float-right col-lg-2">3788</p>
        <p class="col-lg-4"> Minutes Visionnées</p>
      </div>
    </aside>
    <article class="infos col-lg-6">
      <div class="text-center p-3">
        <h4>
          Mes Informations
        </h4>
      </div>
      <div class="text-center mb-4">
        <img class="avatar img-responsive rounded-circle" src="../../assets/images/fav.png">
      </div>
      <div>
        <table class="table">
          <tbody>
          <tr>
            <th scope="row">Login</th>
            <td>Mark</td>
          </tr>
          <tr>
            <th scope="row">Prénom</th>
            <td>Thornton</td>
          </tr>
          <tr>
            <th scope="row">Nom</th>
            <td>Larry</td>
          </tr>
          <tr>
            <th scope="row">Email</th>
            <td>@twitter</td>

          </tr>
          <tr>
            <th scope="row">Inscription</th>
            <td>12/12/12</td>
          </tr>
          <tr>
            <th>

            </th>
            <td>

            </td>
          </tr>
          </tbody>
        </table>

        <div class="text-center ">
          <a href="" class="btn btn-md btn-outline-warning mb-2">Modifier</a>
        </div>

      </div>

    </article>
  </div>
</section>
<hr>