
.imageAvatar{
    height: 150px;
    width: 150px;
}

.bold{
    font-weight: bold;
}
.containerImg{
    margin: auto;
}
.cardAccount{
    
    margin-bottom: 10px;
}
.titleStats{
    margin-top: 20px;
    margin-bottom: 20px;
}