<section class="content">
  <div class="container">

    <div class="row rowSerie">
      <!--Infos-->
      <div class="col-md-6">
        <div class="card cardAccount bg-dark">
          <div class="containerImg">
            <img class="card-img-top img-fluid imageAvatar" src="../../assets/images/fav.png" alt="Image LoginUser" />
          </div>

          <div class="card-body  table-responsive text-warning" *ngIf="userCurrent !== undefined">
            <table class="table ">
              <tbody>
                <tr>
                  <th scope="row">Login</th>
                  <td>{{userCurrent.login}}</td>
                </tr>
                <tr>
                  <th scope="row">Prénom</th>
                  <td>{{userCurrent.prenom}}</td>
                </tr>
                <tr>
                  <th scope="row">Nom</th>
                  <td>{{userCurrent.nom}}</td>
                </tr>
                <tr>
                  <th scope="row">Email</th>
                  <td>{{userCurrent.email}}</td>

                </tr>
                <tr>
                  <th scope="row">Inscription</th>
                  <td>{{userCurrent.inscription | date:'yyyy-MM-dd'}}</td>
                </tr>
                <tr>
                  <th>
                  </th>
                  <td>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="userCurrent.role === 1" class="btnDashboard">
            <a class="btn btn-md btn-warning" routerLink="/dashboard" routerLinkActive="active">Access Dashboard</a>
          </div>
        </div>
      </div>


      <!--Stats-->
      <div class="col-md-6">
        <div class="card cardAccount bg-warning">
          <div class="card-body text-dark">
            <div class="text-center titleStats">
              <h4>
                Statistiques
                <i class="fas fa-chart-bar"></i>
              </h4>
            </div>
            <div class="row">
              <p class="col-md-6">
                <span class="bold">Séries Visionnées</span>
              </p>
              <p class="col-md-6">{{nbSeries}}</p>
            </div>
            <hr>
            <div class="row">
              <p class="col-md-6">
                <span class="bold"> Episodes Visionnés</span>
              </p>
              <p class="col-md-6">{{nbEpisodes}}</p>
            </div>
            <hr>
            <div class="row">
              <p class="col-md-6">
                <span class="bold">Minutes Visionnées</span>
              </p>
              <p class="col-md-6">21</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
