
.monFooter{
    margin-top: 50px;
    padding: 5px;
}


.active{

    border: solid #ffbb33 2px;
    background-color: #ffbb33;
    color: rgb(0, 0, 0);
    border-radius: 5px;

}




.logoBrand{
    width:30px;
     height:30px;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .featurette-heading {
        font-size: 50px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .carousel-caption p {
        margin-bottom:20px;
        font-size: 20px;
        line-height: 1.4;
    }

    .featurette-heading {
        margin-top: 7rem;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}