<div class="container content">
  <div class="card cardSerie bg-light" *ngIf="serie !== undefined">
    <img class="card-img-top imageSerie img-responsive" src="../../../../assets/images/{{serie.imageSerie}}" alt={{serie.titre}}>
    <div class="card-body">
      <div class="text-center">
        <h4 class="text-dark">
          <span class="bold">{{serie.titre}}</span>
          <span *ngIf="isSeen && authService.loggedIn()" class="badge bg-warning">Seen</span>
        </h4>
      </div>

      <hr>
      <div *ngIf="isSeen" class="progress">
        <div class="progress-bar bg-warning text-center text-dark" role="progressbar" [style.width]="Mypercent + '%'" attr.aria-valuenow="{{nbEpisodesVu}}"
          aria-valuemin="0" attr.aria-valuemax="{{nbEpisodes}}">
          <span>{{nbEpisodesVu}} of {{nbEpisodes}}</span>
        </div>
      </div>
      <hr>
      <p>Created by: {{serie.prenomRealisateur}}
        <span class="bold">{{serie.nomRealisateur}}</span>
      </p>
      <hr>
      <p>
        <span class="bold">Description:</span> {{serie.description}}</p>
      <hr>
      <p>
        <span class="bold">Number of seasons:</span> {{serie.nbSaisons}}</p>
      <hr>
      <p>
        <span class="bold">Number of episodes:</span> {{serie.nbEpisodes}}</p>
      <hr>
      <p>
        <span class="bold">Original release:</span> {{serie.dateSortie | date:'yyyy-MM-dd'}}</p>
      <div class="row">
        <div>
          <a *ngIf="authService.loggedIn() &&!isSeen" class="btn btn-md btn-success text-white" (click)="addInPlaylist()"> Add in Playlist</a>


        </div>
        <div>
          <a *ngIf="authService.loggedIn() && isSeen" class="btn btn-md btn-danger text-white" (click)="removeInPlaylist()"> Remove from Playlist</a>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <app-critique>
            <!--Liste des commentaires-->
          </app-critique>
        </div>

        <div class="col-6" *ngIf="isSeen">
          <app-episode-list>
            <!--Liste des épisodes de la séries-->
            <!--Visible uniquement si on visionne la série-->
          </app-episode-list>
        </div>
      </div>
      <div class="text-center buttonRetour">
        <a class="btn btn-md btn-secondary text-warning" routerLink="/catalog" routerLinkActive="active">Retour au catalogue</a>
      </div>
    </div>
  </div>

</div>