.bold{
    font-weight: bold;
}



.buttonRetour{
    margin-top: 15px;
}

@media (min-width: 768px) {
    .cardSerie{
        width: 800px;
        margin: auto;
    }
    
    
}


@media (max-width: 767px) {
    .cardSerie{
        width: 400px;
        margin: auto;
        
    }
    
    
}
