<div class="container mt-5">
  <div class="jumbotron">
    <div class="mx-auto">
     <img class="imageSerie" src="../../../../assets/images/{{serie.imageSerie}}">
    </div>
    <div class="container mt-2">
      <div class="text-center">
        <h4 class="text-warning">{{serie.titre}}</h4>
      </div>
      <hr>
      <p>Réalisateur: {{serie.prenomRealisateur}} <span class="bold">{{serie.nomRealisateur}}</span></p>
      <hr>
      <p><span class="bold">Description:</span> {{serie.description}}</p>
      <hr>
      <p><span class="bold">Nombre de saisons:</span> {{serie.nbSaisons}}</p>
      <hr>
      <p><span class="bold">Nombre de saisons:</span> {{serie.nbEpisodes}}</p>
      <hr>
      <p><span class="bold">Date de sortie:</span> {{serie.dateSortie}}</p>
    </div>

    <div>
      <a class="btn btn-md btn-success"> Ajouter à ma playlist</a>
      <p class="btn btn-warning">Visionnée</p>
    </div>
    <div>
      <a class="btn btn-md btn-danger"> Supprimer de  ma playlist</a>
    </div>

    <a class="btn btn-md btn-info" routerLink="/catalogue" routerLinkActive="active">Retour au catalogue</a>
  </div>
</div>
