<div class="container content">
  <div class="text-center">
    <h3 class="text-dark">
      Catalog of Series
    </h3>
    <hr>
  </div>
</div>

<div class="album py-5">
  <div class="container">
    <div class="row rowSerie">

      <div class="col-md-4" *ngFor="let serie of series">
        <div class="card cardCatalog" *ngIf="serie !== undefined">
          <img  class="card-img-top img-fluid imageCatalogue" src="{{serie.imageSerie}}" alt="Image Affiche Série" />

          <div class="card-body bg-dark text-warning">
            <h5 class="card-title">{{serie.titre}}</h5>
            <p class="card-text description"> {{serie.description}}</p>
            <a class="btn btn-sm btn-outline-warning" routerLink="/catalog/{{serie.idSerie}}" routerLinkActive="active">See</a>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>

      </div>
    </div>
    <hr class="featurette-divider">
  </div>
</div>