<div class="container content">

    <ul class="card bg-dark scrollUl">
        <div class="text-center text-white hRewiev">
            <h4> Critiques </h4>
        </div>
        <div>
            <div class="card bg-light text-dark rewiev " *ngFor="let crit of critiques">
                <div class="card-body col-10" *ngIf="crit !== undefined">
                    {{crit.note}}
                    <i class="fas fa-star"></i> | {{crit.commentaire}}
                    <hr>
                    <p>
                        <small>By {{crit.login}}</small>
                        <span *ngIf="current !== undefined && current.role !== 0 ">
                            <button class="btn btn-sm btn-danger" (click)="deleteCritique(crit.idCritique)">
                                <i class="fas fa-times-circle"></i>
                            </button>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </ul>

    <div *ngIf="authService.loggedIn()" class="card bg-light text-dark text-center rewiev">

        <form class="card-body">

            <form class="card-body">

                <div class="form-group">
                    <input id="note" class="form-control" type="number" min="1" max="5" [(ngModel)]="note" name="note" placeholder="Note" required/>

                    <input id="commentaire" class="form-control" [(ngModel)]="commentaire" name="commentaire" placeholder="Commentaire" required/>
                </div>
                <button type="submit" class="btn btn-sm btn-success pt-2" (click)="saveCritique()">Ajouter</button>
            </form>
        </form>
    </div>
</div>