<div class="container content">

    <ul class="card bg-dark scrollUl">
        <div class="text-center text-white hRewiev">
            <h4> Reviews </h4>
        </div>
        <div>
            <div class="card bg-light text-dark rewiev " *ngFor="let crit of critiques">
                <div class="card-body col-10">
                    {{crit.note}}
                    <i class="fas fa-star"></i> | {{crit.commentaire}}
                    <hr>
                    <p>
                        <small>By {{crit.login}}</small>
                    </p>
                </div>
            </div>
        </div>
    </ul>

    <div *ngIf="authService.loggedIn()" class="card bg-light text-dark text-center rewiev">

        <form class="card-body" [formGroup]="form">

            <label class="">Note</label>
            <select (change)="onChangeNote($event)" class ="form-control" formControlName="note">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <input type="text" class="inputCrit form-control" formControlName="commentaire" id="commentaire" placeholder="Votre commentaire" (change)="onChangeDescription($event)">
            <div class="buttonCom">
                <button class="btn btn-success text-white"  (click)="saveCritique()">Envoyer
                    <i class="fas fa-location-arrow"></i>
                </button>
            </div>
        </form>
    </div>
</div>