.buttonCom{
    margin-top: 15px;
    
}

.hRewiev{
    margin-bottom: 10px;
    margin-top: 10px;
}
.rewiev{
    margin-left: 5px;
    margin-right: 40px;
    margin-bottom: 5px;

}


.scrollUl{
    height: 500px;
    overflow: scroll;
  }
@media (max-width: 767px) {
    
    .inputCrit{
        width: 70px;
    }
    
    
}
