<div class=" text-center"  *ngIf="user !== undefined">
    <h4>List of Users: {{user.nb}} Users</h4>
</div>
<div class="table-wrapper  mx-auto"  *ngIf="user !== undefined">
  <table class="table table-responsive-md text-center">
    <thead class="bg-warning text-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Login</th>
      <th scope="col">Name</th>
      <th scope="col">FirstName</th>
      <th scope="col">email</th>
    </tr>
    </thead>
    <tbody *ngFor="let user of users" class="bg-dark text-warning">
    <tr>
      <td>{{user.idUser}}</td>
      <td>{{user.login}}</td>
      <td>{{user.nom}}</td>
      <td>{{user.prenom}}</td>
      <td>{{user.email}}</td>

    </tr>
    </tbody>
  </table>

</div>
