<div class=" container content text-center">
    <form class="form-addSerie  text-dark">
        <fieldset class="p-5 m-4 bg-light field">
            <div class="m-3 container">
                <h3>
                    Mise à jour Série
                </h3>
                <h5>Informations Générales</h5>
                <hr>
            </div>
            
            <h4>Titre: {{serie.titre}}</h4>

            <div class="form-row">
                <div class="col">
                    <label for="imageSerie" class="l-connect">Affiche</label>
                    <input type="text" class="form-control  input-connect" id="imageSerie" value="{{serie.imageSerie}}" (change)="setAffiche($event)">
                </div>
                <div class="col">
                    <label for="description" class="l-connect">Description</label>
                    <textarea class="form-control input-connect" rows="8" value="{{serie.description}}" (change)="setDescription($event)"></textarea>
                </div>
                <div class="col">
                    <label for="nbSaisons" class="l-connect">Nombres de Saisons</label>
                    <input type="text" value="{{serie.nbSaisons}}" class="form-control input-connect" (change)="setNbSaisons($event)">

                </div>
                <div class="col">
                    <label for="nbEpisodes" class="l-connect">Nombres d'Episodes</label>
                    <input type="text" class="form-control input-connect" value="{{serie.nbEpisodes}}" (change)="setNbEpisodes($event)">
                </div>
            </div>
        </fieldset>
        <div class="m2">
            <a class="btn btn-md btn-success text-white" (click)="updateSerie()" routerLink="/dashboard" routerLinkActive="active">Modifier</a>
        </div>
    </form>
</div>