<div class="container content">
  <div class="text-center">
    <h3 class="text-dark">
      My Playlist
    </h3>
    <hr>
  </div>


  <div class="container">
    <div class="row rowSerie">
      <div class="col-md-4" *ngFor="let play of playlist">
        <div class="card cardCatalog" *ngIf="play !== undefined">
          <img  class="card-img-top img-fluid imageCatalogue" src="../../assets/images/{{play.imageSerie}}" alt="Image Affiche Série" />

          <div class="card-body bg-dark text-warning">
            <h5 class="card-title">{{play.titre}}</h5>
            <a class="btn btn-sm btn-outline-warning" routerLink="/playlist/serie/{{play.idSerie}}" routerLinkActive="active">See</a>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>

      </div>
    </div>
    <hr class="featurette-divider">
  </div>
</div>