<section class="content">
    <div class="container contentHome">
        <div class="text-center pt-3">
            <h3 class="text-warning">Découvrir
                <i class="far fa-calendar-check"></i>
            </h3>
        </div>
        <div>
            <hr>
            <div class="row rowSerie">
                <div class="col-xs-6 col-md-4 thumbnail thumbHome" *ngFor="let serie of series">
                    <a routerLink="/catalogue/{{serie.idSerie}}" routerLinkActive="active" >
                        <img src="{{serie.imageSerie}}" alt="{{serie.titre}}" class="imgTop img-fluid thumbnail">
                    </a>
                </div>
            </div>
        </div>
        <hr>
    </div>
</section>


<section>
    <div class="container contentHome">
        <div class="text-center pt-3">
            <h3 class="text-warning">Top du moment
                <i class="fas fa-chart-line"></i>
            </h3>
        </div>
        <hr>
        <div class="row rowSerie">
                <div class="col-xs-6 col-md-4 thumbnail thumbHome" *ngFor="let top of topSeries">
                    <a routerLink="/catalogue/{{top.idSerie}}" routerLinkActive="active" >
                        <img src="{{top.imageSerie}}" alt="{{top.titre}}" class="imgTop img-fluid thumbnail">
                    </a>
                </div>
            </div>
        <hr>
    </div>

</section>